/* for small screen
================= */
@media screen and (max-width: 576px) {

    /* nav section styles
    ================= */
    .nav-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-second{
        border: none;
    }
    .nav-second li{
        display: none;
    }
    .nav-second i{
        display: block;
    }

    /* get body section styles
    ======================= */
    .get-body-container{
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
    }
    .get-left{
        width: 100%;
    }
    .get-right{
        width: 100%;
    }
    .get-img{
        text-align: center;   
    }
    #float-first{
        top: 168%;
        right: 15%;
    }
    #float-second{
        top: 225%;
        right: 50%;
    }
    
    /* change sections style
    ===================== */
    .change-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .change-img-card-container{
        grid-template-columns: repeat(1, 1fr);
    }

    /* run section styles
    ================== */
    .run-section-container{
        flex-direction: column;
        gap: 20px;
    }
    .run-left{
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .run-left button{
        width: 80%;
    }
    .run-right{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    /* training section styles
    ======================= */
    .training-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    #img-card-1{
        width: 50%; 
    }
    #img-card-2{
        width: 50%;
    }
    #img-card-3{
        display: none;
    }
    #img-card-4{
        width: 45%;
    }
    #img-card-5{
        width: 55%;
    }
    #img-card-6{
       display: none;
    }

    /* bmi section styles
    =================== */
    .bmi-text-container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .bmi-calculator{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }
    .bmi-calculator-left{
        width: 100%;
    }
    table{
        margin: 0 auto;
        width: 70%;
    }
    .bmi-calculator-right{
        width: 100%;
    }
    input{
        width: 80%;
    }
    .bmi-inputs-row-1 select{
        width: 93%;
        margin-bottom: 15px;
   }
   select{
    width: 93%;
}
.bmi-calculator-right button{
    margin-top: 34px;
    margin-bottom: 52px;
    width: 30%;
}
/* meet team section styles
======================== */
.meet-team-container{
    padding-left: 15px;
    padding-right: 15px;
}
.meet-img-container{
    grid-template-columns: repeat(1, 1fr);
}
.foot{
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
}
}

/* for medium screen
================== */
@media screen and (min-width: 576px) and (max-width: 992px) {

     /* nav section styles
    ================= */
    .nav-container{
        padding-left: 15px;
        padding-right: 15px;
    }

/* get body section styles
    ======================= */
    .get-body-container{
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
    }
    .get-left{
        width: 100%;
    }
    .get-right{
        width: 100%;
    }
    .get-img{
        text-align: center;   
    }
    #float-first{
        top: 176%;
        right: 22%;
    }
    #float-second{
        top: 225%;
        right: 50%;
    }

    /* change sections style
    ===================== */
      .change-img-card-container{
        grid-template-columns: repeat(2, 1fr);
    }

      /* run section styles
    ================== */
    .run-left{
        width: 50%;
    }
    .run-right{
        width: 50%; 
    }
    
    /* bmi section styles
    =================== */
    .bmi-text-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bmi-calculator{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }
    .bmi-calculator-left{
        width: 100%;
    }
    .bmi-calculator-right{
        width: 100%;
    }

    /* footer section styles
    ===================== */
    
}