/* for small screen
================= */
@media screen and (max-width: 576px) {

    /* nav section styles
    ================= */
    .nav-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-second{
        border: none;
    }
    .nav-second li{
        display: none;
    }
    .nav-second i{
        display: block;
    }

    /* get body section styles
    ======================= */
    .get-body-container{
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
    }
    .get-left{
        width: 100%;
    }
    .get-right{
        width: 100%;
    }
    .get-img{
        text-align: center;   
    }
    #float-first{
        top: 168%;
        right: 15%;
    }
    #float-second{
        top: 225%;
        right: 50%;
    }
    
    /* change sections style
    ===================== */
    .change-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .change-img-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* for medium screen
================== */
@media screen and (min-width: 576px) and (max-width: 992px) {

     /* nav section styles
    ================= */
    .nav-container{
        padding-left: 15px;
        padding-right: 15px;
    }

/* get body section styles
    ======================= */
    .get-body-container{
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
    }
    .get-left{
        width: 100%;
    }
    .get-right{
        width: 100%;
    }
    .get-img{
        text-align: center;   
    }
    #float-first{
        top: 176%;
        right: 22%;
    }
    #float-second{
        top: 225%;
        right: 50%;
    }

    /* change sections style
    ===================== */
      .change-img-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
   
}