/* embed google font
================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* share style
============== */
body{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    max-width: 1200px;
    background-color: black;
}
:root{
    --text-14: 0.6rem;
    --text-16: 0.8rem;
    --text-18: 1rem;
    --text-24: 1.12rem;
    --text-20: 1.25rem;
    --text-28: 1.50rem;
    --text-32: 1.75rem;
    --text-36: 2.00rem;
    --text-40: 2.25rem;
    --text-48: 2.5rem;
    --text-70: 3.5rem;
    --text-78: 4rem;
    --font-400: 300;
    --font-600: 500;
    --font-800: 700;
    --font-900: 800;
    --font-inter: "Inter", sans-serif;
    --font-miama: 'Miama', sans-serif;
    --text-orange: #E6533C;
    --text-white: white;
    --text-rgba: rgba(255, 255, 255, 0.5);
    --bg-orange: #E6533C;
    --bg-rgba: rgba(255, 255, 255, 0.1);
}
.text-14{
    font-size: var(--text-14);
}
.text-16{
    font-size: var(--text-16);
}
.text-18{
    font-size: var(--text-18);
}
.text-20{
    font-size: var(--text-20);
}
.text-24{
    font-size: var(--text-24);
}
.text-28{
    font-size: var(--text-28);
}
.text-32{
    font-size: var(--text-32);
}
.text-36{
    font-size: var(--text-36);
}
.text-40{
    font-size: var(--text-40);
}
.text-48{
    font-size: var(--text-48);
}
.text-70{
    font-size: var(--text-70);
}
.text-78{
    font-size: var(--text-78);
}
.font-400{
    font-weight: var(--font-400);
}
.font-600{
    font-weight: var(--font-600);
}
.font-800{
    font-weight: var(--font-800);
}
.font-900{
    font-weight: var(--font-900);
}
.font-inter{
    font-family: var(--font-inter);
}
.font-miama{
    font-family: var(--font-miama);
}
.text-orange{
    color: var(--text-orange);
}
.text-white{
    color: var(--text-white);
}
.text-rgba{
    color: var(--text-rgba);
}
.bg-orange{
    background-color: var(--bg-orange);
}
.bg-rgba{
    background-color: var(--bg-rgba);
}
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 12px 20px 12px 20px;
    border: none;
}
/* nav bar section styles
====================== */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.nav-container{
    display: flex;
    justify-content: space-between;
}

.nav-second{
    display: flex;
    gap: 47px;
    padding-right: 20px;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;   
}
.nav-second i{
    display: none;
}
.nav-item a{
    text-decoration: none;
}
#home-button{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}

/* get body section styles
======================= */
#special{
    font-family: var(--font-miama);
    font-weight: var(--font-400);
}
.get-body-container{
    display: flex;
    margin-top: 32px;
}
.get-left{
    width: 60%;
    border: 2px solid white;
}
.get-left p{
    line-height: 24px;
}
#transparent-button{
    border-radius: 42px;
    background: transparent;
    padding: 12px 20px 12px 20px;
    border: none;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}
.buttons{
    margin-top: 28px;
}
.buttons button{
    margin-right: 14px;
}
.get-right{
    width: 40%;
    border: 2px solid rgb(11, 138, 19);
}
.get-img{
    position: relative;
}
.float-button{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 170px;
    height: 80px;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.float-button p{
    margin-bottom: 20px;
}
#float-first{
    position: absolute;
    top: 40%;
    right: 11%;
}
#float-second{
    position: absolute;
    bottom: 1%;
    right: 34%;
}
#circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E6533C;
    position: absolute;
    bottom: 33%;
    right: 77%;
}

/* change sections style
===================== */
.change-content{
    text-align: center;
    margin-top: 100px;
}
.change-img-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-card img{
    border-radius: 50%;
}
.img-card p{
    /* padding-top: 5px; */
    line-height: 15px;
    
}
